<div class="jumbotron mt-4">
  <h1 class="display-4">Sistema Gestor de Eventos</h1>
  <p class="lead">Sistema que permite gestionar eventos virtuales de la Facultad de Ingeniería de Sistemas e Informática</p>
  <hr class="my-4">
  
</div>
